/** Helper LESS files **/
@import "elements.less";   // - https://github.com/wearebully/elements
@import "retina.less";     // - http://retinajs.com/

// Fonts

// Font Families

// Colours

// Assets Folder
@assets:    "../img";

// Mixins


/* ==========================================================================
   Base
   ========================================================================== */

/* =WordPress Core - http://codex.wordpress.org/CSS
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* ==========================================================================
   Bootsrap Overrides
   ========================================================================== */


/* ==========================================================================
   Shortcodes and General Styles
   ========================================================================== */


/* ==========================================================================
   Plugin Styles
   ========================================================================== */


/* ==========================================================================
   Header
   ========================================================================== */


/* ==========================================================================
   Home
   ========================================================================== */

body.home {


}

/* ==========================================================================
   Location Page
   ========================================================================== */


/* ==========================================================================
   404 Page
   ========================================================================== */


/* ==========================================================================
   Footer
   ========================================================================== */


/* ==========================================================================
   Media Query Breakpoints
   ========================================================================== */

/** iPhone 4 Portrait **/
@media (max-width: 320px) {

}

/** iPhone 4 Landscape **/
@media (max-width: 480px) {

}

/** iPhone 5 Portrait **/
@media (max-width: 640px) {

}

/** Mobile breakpoint (1px below iPad portrait) **/
@media (max-width: 767px) {

}

/** iPad **/
@media (max-width: 979px) and (min-width: 768px) {

}

/** iPad **/
@media (max-width: 979px) {

}

/** Desktop **/
@media (max-width: 1200px) {

}

/** Large Desktop **/
@media (min-width: 1200px) {

}
